<div class = "row">
    <div class = "col-md-8 col-md-offset-2">
        <ul  class = "list-unstyled">
            <%@users.each do |u| %>
                    <% if u.profile %>
                    <li>
                        <div class = "js well row <%= cycle('white', '')%>">
                            <div class = "col-sm-4 text-center">
                                <% if u.profile.avatar%>
                                    <%= link_to u do %>
                                        <%= image_tag u.profile.avatar.url(:thumb), class:"avatar" %><br>
                                    <%end%>
                                <%end%>
                            </div>
                            
                            <div>
                                <%= link_to u do %>
                                    <h2><%= u.profile.first_name%> <%= u.profile.last_name%></h2>
                                <%end%>
                                <p><%=u.profile.job_title%>
                                    <% if u.plan_id == 2%>
                                        <span class="label label-success">PRO</span>
                                    <%end%>
                                </p>
                                
                            </div>
                            
                        </div>
                    <%end%>
                </li>
            <%end%>
        </ul>
    </div>
</div>
